<form [formGroup]="formulario">
    <div class="row">

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="txtNombreCompleto">Nombre completo o razón social</label>
                <input type="text" class="form-control" id="txtNombreCompleto" formControlName="txtNombreCompleto"
                    placeholder="Ingresa su nombre completo o razón social">
                <div *ngIf="checkErrors('txtNombreCompleto')" class="alert alert-danger"> 
                        <div *ngIf="formulario.controls['txtNombreCompleto'].errors.required">
                            El nombre completo o razón social es requerida
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="txtCorreo">Correo electrónico</label>
                <input type="email" class="form-control" id="txtCorreo" formControlName="txtCorreo"
                    placeholder="Ingresa tu correo electrónico">
                <div *ngIf="checkErrors('txtCorreo')" class="alert alert-danger"> 
                    <div *ngIf="formulario.controls['txtCorreo'].errors.required">
                        El correo electrónico es requerido
                    </div>
                    <div *ngIf="formulario.controls['txtCorreo'].errors.pattern">
                            El correo electrónico no es valido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="txtClave">Contraseña</label>
                <input type="password" class="form-control" id="txtClave" formControlName="txtClave"
                    placeholder="Ingresa tu contraseña">
                <div *ngIf="checkErrors('txtClave')" class="alert alert-danger"> 
                        <div *ngIf="formulario.controls['txtClave'].errors.required">
                            La contraseña es requerida
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
                <div class="form-group">
                    <label for="txtCedula">Cuit</label>
                    <input type="text" class="form-control" id="txtCedula" formControlName="txtCedula"
                        placeholder="Ingresa tu cuit">
                </div>
        </div>

        <div class="col-12 mb-4">
                <div class="form-group">
                    <label for="txtTelefono">Teléfono</label>
                    <input type="text" class="form-control" id="txtTelefono" formControlName="txtTelefono"
                        placeholder="Ingresa tu teléfono">
                    <div *ngIf="checkErrors('txtTelefono')" class="alert alert-danger"> 
                            <div *ngIf="formulario.controls['txtTelefono'].errors.required">
                                el teléfono es requerido
                            </div>
                    </div>
                </div>
        </div>

        <div class="col-12 mb-4">
                <div class="form-group">
                    <label for="txtDireccion">Dirección</label>
                    <input type="text" class="form-control" id="txtDireccion" formControlName="txtDireccion"
                        placeholder="Ingresa tu dirección">
                    <div *ngIf="checkErrors('txtDireccion')" class="alert alert-danger"> 
                            <div *ngIf="formulario.controls['txtDireccion'].errors.required">
                                la dirección es requerida
                            </div>
                    </div>
                </div>
        </div>

        <div class="col-12 mb-4">
                <div class="form-group">
                    <label for="txtLocalidad">Localidad</label>
                    <input type="text" class="form-control" id="txtLocalidad" formControlName="txtLocalidad"
                        placeholder="Ingresa tu localidad">
                    <div *ngIf="checkErrors('txtLocalidad')" class="alert alert-danger"> 
                            <div *ngIf="formulario.controls['txtLocalidad'].errors.required">
                                la localidad es requerida
                            </div>
                    </div>
                </div>
        </div>

        <div class="col-12">
            <button (click)="register()" class="btn btn-success btn-block" [disabled]="!formulario.valid">
                Regístrate 
            </button>
        </div>
    </div>
</form>