#title {
   color: #143865;
}

.bg-light {
   background-color: #f8f9fa80 !important;
}

#container_shoppingCart {
   position: relative;


   #icon_shoppingCart {
      font-size: 25px;
      color: #00000080;
   }

   #counter_shoppingCart {
      position: absolute;
      top: 0;
      right: -15px;
      color: #2e7d32;
   }
}


#container_or {
   display: flex;
   justify-content: center;
   align-items: center;


   hr {
      height: 1px;
      border-width: 0;
      box-sizing: content-box;
      border-bottom: 1px solid #d4d3d7;
      position: absolute;
      width: 50%;
      margin: 0;
   }

   span {
      position: relative;
      padding: 0 5px;
      background-color: white;
      color: #989aa2;
   }
}


.btn-google {
   background-color: #ea4335;
}


.btn-facebook {
   background-color: #3b5998;
}
