<ngx-ui-loader></ngx-ui-loader>
<h3 id="title" class="text-center py-3 mb-0">
   <img id="img_logo" width="30px" height="30px" src="assets/app-component/golozina_lujan_logo.png" class="img-fluid" alt="" />
   GOLOZINA LUJAN
</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item mx-3" routerLinkActive="active">
            <a class="nav-link cursor-pointer" routerLink="/offer">
               <fa-icon [icon]="faTags"></fa-icon>
               Ofertas
            </a>
         </li>

         <!--
         <li class="nav-item mx-3">
            <a class="nav-link cursor-pointer">
               <fa-icon [icon]="faEdit"></fa-icon>
               Rubros
            </a>
         </li>
         -->
         <li class="nav-item mx-3" routerLinkActive="active">
            <a class="nav-link cursor-pointer" routerLink="/product">
               <fa-icon [icon]="faStore"></fa-icon>
               Productos
            </a>
         </li>

         <!--<li class="nav-item mx-3" routerLinkActive="active">
            <a class="nav-link cursor-pointer" [routerLink]="['/product/',{ subcategoria: 'SUBCATEGORIACIGARRILLOS' }]">
               <fa-icon [icon]="faFileInvoice"></fa-icon>
               Cigarrillos
            </a>
         </li>-->

         <li *ngIf="_almacenamientoLocalService.idUsuario == null" class="nav-item mx-3" routerLinkActive="active">
               <a class="nav-link cursor-pointer" data-toggle="modal" data-target="#RegisterModal">
                  <fa-icon [icon]="faSignInAlt"></fa-icon>
                  Regístrate
               </a>
         </li>

         <li *ngIf="_almacenamientoLocalService.idUsuario == null" class="nav-item mx-3" routerLinkActive="active">
            <a class="nav-link cursor-pointer" data-toggle="modal" data-target="#loginModal">
               <fa-icon [icon]="faSignInAlt"></fa-icon>
               Inicia sesión
            </a>
         </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
         <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="_almacenamientoLocalService.idUsuario != null">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <fa-icon [icon]="faUser"></fa-icon>
                  </a>
                  <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a onclick="closeS" class="dropdown-item" routerLink="/history">
                        <fa-icon [icon]="faHistory"></fa-icon>
                        Mis ordenes
                     </a>
                     <a (click)="salir()" class="dropdown-item"  >
                           <fa-icon [icon]="faSignInAlt"></fa-icon>
                           Salir
                     </a>
                     <!--<div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">prueba</a>-->
                  </div>
               </li>
            </ul>
         </div>
         <div *ngIf="_almacenamientoLocalService.idUsuario != null" class="nav-item mx-1" routerLinkActive="active">
               <a class="nav-link cursor-pointer" data-toggle="modal" *ngIf="this.usuario != undefined && this.usuario != null">
                  Bienvenid@,  {{_almacenamientoLocalService.nombreCompletoUsuario}}
                  <h6 *ngIf="usuario.numeroCliente == undefined || usuario.numeroCliente == null" style="color: blue;">Estas pendiente por aprobación.</h6>
               </a>
         </div>

         <span id="container_shoppingCart" class="mr-4 cursor-pointer" (click)="showItemCard()"
               *ngIf="usuario.numeroCliente != undefined && usuario.numeroCliente > 0">
            <fa-icon id="icon_shoppingCart" [icon]="faShoppingCart"></fa-icon>
            <span  id="counter_shoppingCart" class="badge badge-light bg-transparent font-weight-bold">
               {{this.listProductosCarro != null && this.listProductosCarro.length >= 1 ? this.listProductosCarro.length:''}}
            </span>
         </span>

         <input [formControl]="queryField" class="form-control mr-sm-2" type="text" placeholder="Estoy buscando..." aria-label="Buscar">

         <button class="btn btn-outline-success my-2 my-sm-0" type="button">
            <fa-icon [icon]="faSearch"></fa-icon>
         </button>
      </form>
   </div>
</nav>



<!-- Modal login-->
<div class="modal fade" #loginModal id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title" id="loginModalLabel">INICIA SESIÓN</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body p-4">
            <app-login [inDialog]="true"
                       (closeDialogEvent)="closeDialogLoginEvent()">
            </app-login>
         </div>
         <button #closeModalLogin hidden="hidden" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
   </div>
</div>

<!-- Modal register -->
<div class="modal fade" #RegisterModal id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
   
               <h5 class="modal-title" id="RegisterModalLabel">Regístrate con tu dirección de email</h5>
   
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
   
            <div class="modal-body p-4">
               <app-register [inDialog]="true"
                          (closeDialogEvent)="closeDialogRegisterEvent()">
               </app-register>
            </div>
            <button #closeModalRegister hidden="hidden" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
</div>