<aside>
   <div class="row">
      <!--<div class="col-12 text-center py-3">
         <img id="img_logo" src="assets/app-component/golozina_lujan_logo.png" class="img-fluid" alt="" />
      </div>-->

      <div class="col-12">
         <div class="accordion" id="accordionExample">
            <div class="card">
               <div class="card-header p-0" id="headingOne">
                  <h2 class="mb-0">
                     <button routerLink="/offer" class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ofertas
                     </button>
                  </h2>
               </div>
            </div>

            <div class="card">
                  <div class="card-header p-0" id="headingOne">
                     <h2 class="mb-0">
                        <button routerLink="/product" class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Productos
                        </button>
                     </h2>
                  </div>
            </div>

            <!--<div class="card">
               <div class="card-header p-0" id="headingTwo">
                  <h2 class="mb-0">
                     <button [routerLink]="['/product/',{ categoria: 'CIGARRILLOS' }]"
                             class="btn btn-link btn-block text-left text-dark font-weight-bold collapsed" 
                             type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cigarrillos
                     </button>
                  </h2>
               </div>

               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                  <div class="card-body p-0"></div>
               </div>
            </div>-->

            <div class="card">
               <div class="card-header p-0" id="headingThree">
                  <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left text-dark font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Rubros
                     </button>
                  </h2>
               </div>

               <div *ngFor="let categoria of listcategoriasAccordion">
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                     <div class="card border-top border-right-0 border-bottom-0 border-left-0 rounded-0">
                        <div class="card-header p-0 pl-3">
                           <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#category_one" aria-expanded="true" aria-controls="category_one">
                                 {{categoria.categoriaNombre}}
                              </button>
                           </h2>
                        </div>

                        <div *ngFor="let subcategoria of categoria.ListSubCategorias"
                              id="category_one" class="collapse show" aria-labelledby="headingOne">
                           <div class="card-body p-0" >
                              <a (click)="goProducts(subcategoria)" class="dropdown-item text-secondary pl-5 cursor-pointer">{{subcategoria.nombre}}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</aside>
