<div class="container col-12">
   <div class="row">
      <div class="col-3 padding-bottom-thirty" *ngFor="let offer of products">
         <div class="card bg-transparent border-0">
            <img [src]="offer['img']" class="card-img-top" alt="" />

            <div class="card-body pt-2 pb-0">
               <h5 class="card-title text-center mb-1">{{ offer['name'] }}</h5>

               <div class="row">
                  <div class="col-6 p-0 text-left text-green-customise d-flex align-items-end">
                     {{ offer['price'] | currency }}
                  </div>

                  <div class="col-6 p-0 text-right">
                     <fa-icon [icon]="faCartPlus" class="cursor-pointer add-to-cart" title="Agregar al carrito"></fa-icon>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
