<div  class="container col-12"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [alwaysCallback] = "true"
      (scrolledUp)="onScrollUp()"
      id="container"
      [scrollWindow]="false">
   <div class="row">
      <div class="col-3 padding-bottom-thirty" *ngFor="let product of listProductos,let i = index">
         <div class="card bg-transparent border-0" title="{{ product['nombre'] }}" data-toggle="tooltip" >
            <img  #myImage [src]="product['foto']" (click)="showImageFull(myImage)" class="card-img-top" alt=""  />

            <div class="card-body pt-2 pb-0">
               <h5 style="font-size: 16px; white-space: nowrap; 
               overflow: hidden;
               text-overflow: ellipsis;" class="card-title text-center mb-1">{{ product['nombre'] }}</h5>

               <div class="row" style="display: flex;justify-content: center; align-items: center;">
                  <div  *ngIf="usuarioPuedePedir == true" class="col-4 p-0 text-left text-green-customise d-flex align-items-end">
                     $ {{ product['precio'] }}
                  </div>

                  <div  *ngIf="usuarioPuedePedir == true" class="col-4 p-0 text-left text-green-customise d-flex align-items-end">
                     <input type="number" min="1" class="form-control" id="cantidad{{i}}" name="cantidad{{i}}">
                  </div>

                  <div class="col-4 p-0 text-right" >
                     <fa-icon [icon]="faCartPlus" (click)="addCart(product,i)" class="cursor-pointer add-to-cart" title="Agregar al carrito"></fa-icon>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<button #openModalButton hidden="hidden" data-toggle="modal" data-target="#loginModal">Open Modal</button>
<button #closeModalButton hidden="hidden" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

<div class="modal fade" #loginModal id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
   
               <h5 class="modal-title" id="loginModalLabel">INICIA SESIÓN</h5>
   
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
   
            <div class="modal-body p-4">
               <app-login [inDialog]="true"
                          (closeDialogEvent)="closeDialogLoginEvent()">
               </app-login>
            </div>
         </div>
      </div>
</div>
   
