.container {
   max-height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   
   .card img {
      min-height: 200px;
      max-height: 200px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
   }
}

.padding-bottom-thirty {
   padding-bottom: 30px;
}


.text-green-customise {
   color: #2e7d32;
}


.add-to-cart {
   color: #ec554a;
   font-size: 20px;
}
