.container-custom {
   min-height: calc(100vh - 144px);
   max-height: calc(100vh - 144px);
   display: flex;
   align-items: stretch;


   app-aside-menu {
      min-width: 300px;
      max-width: 300px;
      flex-grow: 1;

      background-color: #f8f9fa80 !important;
   }

   #container_routes {
      flex-grow: 9;
   }
}
