<app-header></app-header>

<div class="container-custom pt-2">
   <app-aside-menu class="bg-white"></app-aside-menu>

   <div id="container_routes" class="p-3">
      <router-outlet></router-outlet>
   </div>
</div>

