
<form [formGroup]="loginForm">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="input_email">Correo electrónico</label>
                <input type="email" class="form-control" id="input_email" formControlName="inputEmail"
                    placeholder="Ingresa tu correo electrónico">
                <div *ngIf="checkErrors('inputEmail')" class="alert alert-danger"> 
                    <div *ngIf="loginForm.controls['inputEmail'].errors.required">
                        El correo electrónico es requerido
                    </div>
                    <div *ngIf="loginForm.controls['inputEmail'].errors.pattern">
                            El correo electrónico no es valido
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control" id="input_password" formControlName="inputPassword"
                    placeholder="Ingresa tu contraseña">
                <div *ngIf="checkErrors('inputPassword')" class="alert alert-danger"> 
                        <div *ngIf="loginForm.controls['inputPassword'].errors.required">
                            La contraseña es requerida
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12 text-center mb-3">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="col-12">
            <button (click)="login()" class="btn btn-success btn-block" [disabled]="!loginForm.valid">
                Iniciar sesión
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

        <div class="col-12" hidden="hidden">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-google btn-block text-white">Google</button>
                </div>

                <div class="col-6">
                    <button class="btn btn-facebook btn-block text-white">Facebook</button>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3 text-center" hidden="hidden">
            ¿No tienes cuenta? <a href="#">Regístrate</a>
        </div>
    </div>
</form>