<div class="container col-12">
   <div class="row">
      <div class="col-6 padding-bottom-thirty" *ngFor="let pedido of listPedidos; let i = index">
         <div class="card">
            <div class="card-body p-2">
               <table>
                  <tr>
                     <th class="pr-3">Orden:</th>
                     <td>{{ pedido['id'] }}</td>
                  </tr>

                  <tr>
                     <th class="pr-3">Fecha:</th>
                     <td>{{ pedido['fechaPedidoConver'] }}</td>
                  </tr>

                  <tr>
                     <th class="pr-3">Estado:</th>
                     <td>{{ pedido['estadoPedido'] }}</td>
                  </tr>
               </table>

               <div class="text-center">
                  <button class="btn btn-sm btn-block btn-info mt-3" data-toggle="modal" 
                          data-target="#modalDetalles" (click)="verDetallePedido(pedido); modalIndex = i;">
                     <fa-icon [icon]="faFileInvoiceDollar" class="mr-2"></fa-icon>
                     Ver detalle
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<button #openModalDetalles hidden="hidden" data-toggle="modal" data-target="#modalDetalles">Open Modal</button>

<div
   class="modal fade"
   id="modalDetalles"
   #modalDetalles
   tabindex="-1"
   role="dialog"
   aria-labelledby="modalDetallesTitle"
   aria-hidden="true"
   *ngIf="listPedidos && listPedidos[modalIndex]">

   <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modalDetallesTitle">
               Detalle de la orden: <span class="text-danger">{{ listPedidos[modalIndex]['id'] }}</span>
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body p-0">
            <div class="row pt-3">
               <div class="col-6 text-left">
                  <p class="font-weight-bold pl-3">{{ listPedidos[modalIndex]['fechaPedidoConver'] }}</p>
               </div>

               <div class="col-6 text-right">
                  <p class="font-weight-bold pr-3">{{ listPedidos[modalIndex]['estadoPedido'] }}</p>
               </div>

               <div class="col-12">
                  <table class="table table-hover table-striped mb-0">
                     <thead>
                        <tr>
                           <th scope="col">Producto</th>
                           <th scope="col" class="text-right">Cantidad</th>
                           <th scope="col" class="text-right">Precio</th>
                           <!--<th scope="col" class="text-right">Total</th>-->
                        </tr>
                     </thead>

                     <tbody>
                        <tr *ngFor="let article of listProductosPedido">
                           <!--<th scope="row" class="text-center">{{ article['nombreProducto'] }}</th>-->
                           <td>{{ article['nombreProducto'] }}</td>
                           <td class="text-right">{{ article['cantidad'] }}</td>
                           <td class="text-green-customise text-right">{{ article['precio'] }}</td>
                           <!--<td class="text-green-customise text-right">{{ (article['precio'] * article['cantidad']) | currency }}</td>-->
                        </tr>

                        <tr>
                           <th colspan="2" class="text-center">Total</th>
                           <th class="text-right">
                              {{ total | currency }}
                           </th>
                          
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
