<div class="container col-12" >
   <div class="row">
      <div class="col-3 padding-bottom-thirty" *ngFor="let offer of offers">
         <div class="card bg-transparent border-0 overflow-hidden" (click)="goProducts(offer)">
            <img *ngIf="offer['foto']"  [src]="offer['foto']" class="card-img-top" alt="" />
            <img *ngIf="!offer['foto']" src="assets/offer-page/offer_1.jpeg" class="card-img-top" alt="" />
            <div class="container-title-offer">
               <h4 class="ion-margin-vertical mb-0 py-2">{{ offer['nombre'] }}</h4>
            </div>
         </div>
      </div>
   </div>
</div>
