.container {
    margin: 0;
  overflow: hidden;
  height:100%;
 }
 
 .padding-bottom-thirty {
    padding-bottom: 30px;
 }

 .tLoadedDiv {
   // width: 1000px;
   width:600px; 
   overflow-y:scroll; 
   position:relative;
   height: 500px;

}
 
 

