<div class="container col-12" >
    <div class="row">
        <div class="col-8 padding-bottom-thirty tLoadedDiv">
     
                <div class="card" *ngFor="let product of listProductosCarro,let i = index">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 p-0 text-left text-green-customise d-flex align-items-end">
                                <img #myImage style="height: 100px; width: auto;" [src]="product.producto['foto']"
                                    (click)="showImageFull(myImage)" class="card-img-top" alt="" />
                            </div>

                            <div class="col-3 p-0 text-left text-green-customise d-flex align-items-end">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="card-title  mb-1" style="font-size: 0.7rem;">
                                            {{ product.producto['nombresubcategoria'] }}</h6>
                                    </div>

                                    <div class="col-12">
                                        <h5 class="card-title  mb-1" style="font-size: 0.9rem;">
                                            {{ product.producto['nombre'] }}</h5>
                                    </div>

                                    <div class="col-12">
                                        <a href="#" (click)="eliminarProducto(i,product.producto)"
                                            class="stretched-link">Eliminar</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 p-0 text-left text-green-customise d-flex align-items-end">
                                {{ product.producto['precio'] | currency }}
                            </div>
                            <div class="col-2 p-0 text-left text-green-customise d-flex align-items-end">
                                <input type="number" min="1" [(ngModel)]="product.cantidad"
                                    (ngModelChange)='changeCantidad($event,product,i)' class="form-control"
                                    id="cantidad{{i}}" name="cantidad{{i}}">
                            </div>
                        </div>
                    </div>
                    <p>
                </div>
        </div>
        <div class="col-4 padding-bottom-thirty"style="overflow-y: hidden" >
            <div *ngIf="listProductosCarro.length > 0">
                <div class="row">
                    <div class="form-group" style="width: 90%;">
                        <textarea style="margin-left: 15px;" placeholder="Escriba notas u observaciones del pedido"
                            class="form-control" rows="4" [(ngModel)]="observacionesPedido" id="txtnotes"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div align="right" style="width: 90%;">
                        <h4 style="color: #000; font-weight: bold; font-size: 0.9rem;">Subtotal $ {{subtotal}}</h4>
                    </div>
                    <p></p>
                    <div *ngIf="descuento > 0" align="right" style="width: 90%;">
                        <h4 style="color: red; font-weight: bold; font-size: 1.0rem;">Descuento $ {{descuento}}</h4>
                    </div>

                    <p></p>
                    <div align="right" style="width: 90%;">
                        <h4 style="color: #000; font-weight: bold; font-size: 1.0rem;">TOTAL $ {{subtotal - descuento}}
                        </h4>
                    </div>

                    <br />

                    <div align="right" style="width: 90%;">
                        <button (click)="realizarPedido()" class="btn btn-primary" [disabled]="subtotal == 0">
                            Realizar pedido
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>