@import url('https://fonts.googleapis.com/css?family=Varela&display=swap&subset=latin-ext');


* {
   font-family: 'Varela', sans-serif !important;
}

body {
   min-height: 100vh;
   max-height: 100vh;
   display: block;
   position: relative;
}

body::after {
   content: "";
   background-image: url("src/assets/app-component/background_image.jpg");
   background-size: cover;
   opacity: 0.2;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
}

.cursor-pointer {
   cursor: pointer !important;
}
